:root {
    --border_width: 10px;
    --border_color:goldenrod;
    --width: 1px;
    --bigwidth: 200px;
}

.bk-color {
    background-color: #6495ed;
}

#coin-body {
    background:linear-gradient(320deg,goldenrod, rgb(214, 175, 1));
    width: 150px;
    height: 150px;
    position: relative;
    margin: auto;
    margin-top: 30vh;
    border-radius: 50%;
    box-shadow: 8px 7px 30px -7px black;
    border: solid;
    border-color: transparent;
    border-width: 0.3px;

}

.TAILS1 {
    width: 0px;
    border-width: 0px;
    opacity: 0;
}

.TAILS2 {
    transform: scale(1);
    width: 150px;
    opacity: 1;
    border-color: transparent;
}


.coinbkanimationtail {
    animation-name: intro, spinning, bodytails;
    animation-duration: 0.5s, 1.5s, 1.5s;
    animation-iteration-count: 1, 2;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-delay: 0s,0.5s,3.5s;  
}


.coin1animationtail {
    animation-name: intro1, spinning1, coin1tails;
    animation-duration: 0.5s, 1.5s, 1.5s;
    animation-iteration-count: 1, 2;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-delay: 0s,0.5s, 3.5s;
}

.coin2animationtail {
    animation-name: intro1, spinning2, coin2tails;
    animation-duration: 0.5s, 1.5s, 1.5s;
    animation-iteration-count: 1, 2;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-delay: 0s,0.5s, 3.5s;
}


.coinbkanimationhead {
    animation-name: intro, spinning, bodyheads;
    animation-duration: 0.5s, 1.5s, 1.5s;
    animation-iteration-count: 1, 2;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-delay: 0s,0.5s,3.5s;  
}

.coin1animationhead {
    animation-name: intro1, spinning1, coin1heads;
    animation-duration: 0.5s, 1.5s, 1.5s;
    animation-iteration-count: 1, 2;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-delay: 0s,0.5s, 3.5s;
}

.coin2animationhead {
    animation-name: intro1, spinning2, coin2heads;
    animation-duration: 0.5s, 1.5s, 1.5s;
    animation-iteration-count: 1, 2;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-delay: 0s,0.5s, 3.5s;
}


@keyframes intro {
    85% {
        transform: scale(1.3);
        width: var(--width);
        box-shadow: 30px 27px 30px -3px black;
    }
    
    100% {
        width: var(--width);
        transform: scale(1.3);
        box-shadow: 30px 27px 30px -3px black;
        border-right-width: var(--border_width);
        border-color: var(--border_color);
    }
}

@keyframes intro1 {
   85% {
        transform: scale(1);
        width: var(--width);
   }
    100% {
        width: var(--width);
        border-width: 4px;
   } 
}

@keyframes spinning {
    0% {
        width: var(--width);
        transform: scale(1.3);
        box-shadow: 30px 27px 30px -3px black;
        border-right-width: var(--border_width);
        border-color: var(--border_color);
    }
    12.5% {
        width: var(--bigwidth);
        box-shadow: 30px 27px 30px -3px black;
        transform: scaleY(1.3);
        border-right-width: 0%;
        border-color: transparent;
    }
    25% {
        width: var(--width);
        box-shadow: 30px 27px 30px -3px black;
        transform: scaleY(1.3);
        border-right-width: var(--border_width);
        border-color: var(--border_color);
    }
    37.5% {
        width: var(--bigwidth);
        box-shadow: 30px 27px 30px -3px black;
        transform: scaleY(1.3);
        border-right-width: 0%;
        border-color: transparent;
    }
    50% {
        width: var(--width);
        box-shadow: 30px 27px 30px -3px black;
        transform: scaleY(1.3);
        border-right-width: var(--border_width);
        border-color: var(--border_color);
    }
    62.5% {
        width: var(--bigwidth);
        box-shadow: 30px 27px 30px -3px black;
        transform: scaleY(1.3);
        border-right-width: 0%;
        border-color: transparent;
    }
    75% {
        width: var(--width);
        box-shadow: 30px 27px 30px -3px black;
        transform: scaleY(1.3);
        border-right-width: var(--border_width);
        border-color: var(--border_color);
    }
    87.5%{
        width: var(--bigwidth);
        box-shadow: 30px 27px 30px -3px black;
        transform: scaleY(1.3);
        border-right-width: 0%;
        border-color: transparent;
    }
    100% {
        width: var(--width);
        box-shadow: 30px 27px 30px -3px black;
        transform: scaleY(1.3);
        border-right-width: var(--border_width);
        border-color: var(--border_color);
    }
}


@keyframes spinning1 {
    0% {
        width: var(--width);
        border-width: 5px;
        opacity:0;
    }
    12.5% {
        width: var(--bigwidth);
        opacity: 0;
    }
    25% {
        width: var(--width);
        border-width: 5px;
        opacity: 0;
    }
    25.1% {
        opacity: 1;
    }
    37.5% {
        width: var(--bigwidth);
        opacity: 1;
    }
    49.9% {
        opacity: 1;
    }
    50% {
        width: var(--width);
        border-width: 5px;
        opacity: 0;
    }
    62.5% {
        width: var(--bigwidth);
        opacity: 0;
    }
    75% {
        width: var(--width);
        border-width: 5px;
        opacity: 0;
    }
    75.1%{
        opacity: 1;
    }
    87.5% {
        width: var(--bigwidth);
        opacity: 1;
    }
    100% {
        width: var(--width);
        border-width: 5px;
        opacity: 1;
    }
}

@keyframes spinning2 {
    0% {
        width: var(--width);
        border-width: 5px;
        opacity: 0;
    }
    0.1% {
        opacity: 1;
    }
    12.5% {
        width: var(--bigwidth);
        opacity: 1;
    }
    24.9% {
        opacity: 1;
    }
    25% {
        width: var(--width);
        border-width: 5px;
        opacity: 0;
    }
    37.5% {
        width: var(--bigwidth);
        opacity: 0;
    }
    50% {
        width: var(--width);
        border-width: 5px;
        opacity: 0;
    }
    50.1% {
        opacity: 1;
    }
    62.5% {
        width: var(--bigwidth);
        opacity: 1;
    }
    74.9%{
        opacity: 1;
    }
    75% {
        width: var(--width);
        border-width: 5px;
        opacity: 0;
    }
    87.5% {
        width: var(--bigwidth);
        opacity: 1;
    }
    100% {
        width: var(--width);
        border-width: 5px;
        opacity: 0;
    }
}

@keyframes bodyheads {
    0% {
        width: var(--width);
        box-shadow: 30px 27px 30px -3px black;
        transform: scaleY(1.3);
        border-right-width: var(--border_width);
        border-color: var(--border_color);
    }
    12.5% {
        width: var(--bigwidth);
        box-shadow: 30px 27px 30px -3px black;
        transform: scaleY(1.3);
        border-right-width: 0%;
        border-color: transparent;
    }
    25% {
        width: var(--width);
        box-shadow: 30px 27px 30px -3px black;
        transform: scaleY(1.3);
        border-right-width: var(--border_width);
        border-color: var(--border_color);
    }
    37.5% {
        width: var(--bigwidth);
        box-shadow: 30px 27px 30px -3px black;
        transform: scaleY(1.3);
        border-right-width: 0%;
        border-color: transparent;
    }
    50% {
        transform: scale(1);
        width: 150px;
        box-shadow: 8px 7px 30px -7px black;
        border-right-width: 0px;
    }
    100% {
        transform: scale(1);
        width: 150px;
        box-shadow: 8px 7px 30px -7px black;
        border-color: transparent;
        border-right-width: 0px;
    }
}

@keyframes coin1heads {
    0% {
        width: var(--width);
        border-width: 5px;
        opacity:0;
    }
    12.5% {
        width: var(--bigwidth);
        opacity: 0;
    }
    25% {
        width: var(--width);
        border-width: 5px;
        opacity: 0;
    }
    25.1% {
        opacity: 1;
    }
    37.5% {
        width: var(--bigwidth);
        opacity: 1;
    }
    50% {
        transform: scale(1);
        width: 150px;
        opacity: 1;
    }
    100% {
        transform: scale(1);
        width: 150px;
        opacity: 1;
        border-color: transparent;
    }
}

@keyframes coin2heads {
    0% {
        width: var(--width);
        border-width: 5px;
        opacity: 0;
    }
    0.1% {
        opacity: 1;
    }
    12.5% {
        width: var(--bigwidth);
        opacity: 1;
    }
    24.9% {
        opacity: 1;
    }
    25% {
        width: var(--width);
        border-width: 5px;
        opacity: 0;
    }
    37.5% {
        width: var(--bigwidth);
        opacity: 0;
    }
    50% {
        width: var(--width);
        border-width: 5px;
        opacity: 0;
    }
    100% {
        width: var(--width);
        border-width: 5px;
        opacity: 0;
    }
}

@keyframes bodytails {
    0% {
        width: var(--width);
        box-shadow: 30px 27px 30px -3px black;
        transform: scaleY(1.3);
        border-right-width: var(--border_width);
        border-color: var(--border_color);
    }
    12.5% {
        width: var(--bigwidth);
        box-shadow: 30px 27px 30px -3px black;
        transform: scaleY(1.3);
        border-right-width: 0%;
        border-color: transparent;
    }
    25% {
        transform: scale(1);
        width: 150px;
        box-shadow: 8px 7px 30px -7px black;
        border-right-width: 0px;
    }
    100% {
        transform: scale(1);
        width: 150px;
        box-shadow: 8px 7px 30px -7px black;
        border-color: transparent;
        border-right-width: 0px;
    }
}

@keyframes coin1tails {
    0% {
        width: var(--width);
        border-width: 5px;
        opacity: 0;
    }
    12.5% {
        width: var(--width);
        border-width: 5px;
        opacity: 0;
    }
    100% {
        width: var(--width);
        border-width: 5px;
        opacity: 0;
    }
}

@keyframes coin2tails {
    0% {
        width: var(--width);
        border-width: 5px;
        opacity: 1;
    }
    12.5% {
        width: var(--bigwidth);
        opacity: 1;
        
    }
    25% {
        transform: scale(1);
        width: 150px;
        opacity: 1;
    }
    100% {
        transform: scale(1);
        width: 150px;
        opacity: 1;
        border-color: transparent;
    }
}




img {
    width: 150px;
    height: 150px;
    position: absolute;
    margin: auto;
    opacity: 0.6;
    
}
#coin-image2 {
    opacity: 1;
}

#coin-image {
    opacity: 1;
    top: 0%;
}




* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    touch-action: manipulation;
}



:root {
    --size-two: 108px;
    --border-radius:10px;

    --dot-size-2:18px;
    --counter-color:#f2b1b5;
    font-size: 16px;
}

body {
    background-color: #eb5661fc;
    margin-top: auto;
    
}

nav {
    position: fixed;
    right: 10px;
    top: 10px;
   
}
.bar {
    background-color:white;
    width: 50px;
    height: 7px;
    padding: 0px;
    margin: 5px;
   
}

.container {
   
    display:grid;
    gap:15px;
    width:100%;
    max-width: 500px;
    justify-items: center;
    grid-template-columns: repeat(3,1fr)

}

.dice-game {
   
    width: 100%;
}

.center {
    margin-left: auto;
    margin-right: auto;
  
}

.dice {
 

    padding: 3px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);

    background-color: white;
    width: var(--size-two);
    height: var(--size-two);
    border-radius: var(--border-radius);

    grid-template-areas:
    "a . b"
    "c d e"
    "f . g" ;
}

.dot {
    justify-self: center;
    align-self: center;
    background-color: black;
    width: var(--dot-size-2);
    height: var(--dot-size-2);
    border-radius: 50%;
}

.counter {

    font-family: Arial, Helvetica, sans-serif ;
    color:var(--counter-color);
    margin-top: 100px;
  
    text-align: center;
    font-size: 10rem;
    width: 40%;

}

.wrapper {
    display:flex;
    flex-direction: row;
    justify-content: center;
    /*height: 100vh;*/
}

.side-menu {
   
    flex-grow: 1;
    background-color: coral;
    padding: 20px;
    display: none;
    transition: all 0.05s ease-in-out;
    
}

.side-container {
    display: flex;
    flex-direction: column;
    margin-top:15%;
}

#toss {
    font-family: Lobster, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 4.5rem;
    color: cornsilk;
    margin-top: 10px;
    margin-bottom: 10px;
}

input {
    margin-top:15px;
    margin-bottom:10px;
}

input[type=radio] {
    display: none;
}

label {
    margin: 20px;
    color:cornsilk;
    font-size: 2rem;
    font-family: monospace, Arial, Helvetica, sans-serif;
}

label:hover {
    color:rgb(231, 224, 196);
    font-size: 2.1rem;
}

@media (max-width:600px) {
    .container {
        width:100%;
    }
    .counter {
        margin-top: 0;
    }

    .wrapper {
        flex-direction: column;
    }

    
    .game-area{
        order:2;      
        
    }
    
    .main-block {
        margin-bottom: 25vh;
        margin-top: 15vh;
    }
  
    .counter{
        margin-top: 25vh;
    }

}

@media (min-width:600px) {
    .counter {
        margin-bottom: 50px;
    }

    .game-area {
        flex-basis: 80%;
    }

    .main-block {
        margin-top: 30vh;
    }

    .wrapper {
        height:100vh;
    }


}

#dices{
    margin: 15px;
    font-family: monospace, Arial, Helvetica, sans-serif;
    color: brown;
    font-size: 20px;
    border: 3px solid brown;
    box-shadow: 0 0 20px brown;
    border-radius: 5px;
    border-style:solid;
}

.game-choice{
    text-align: center;
    margin-top: 35px;
    margin-bottom: 25px;
}

#dice{
    margin:-10px;
    width: 20px;
    height: 20px;
}

#coin{
   margin:-10px;
    width: 20px;
    height: 20px;
}

/*# sourceMappingURL=/src.a2b27638.css.map */